.modal {
    /* position: fixed; */
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    /* display: none; */
}

.modal a {
    color: #767676;
}

.modal-content {
    /* position: fixed; */
    width: 32.5rem;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}

.header {
    width: 100%;
    height: 3.625rem;
    border-bottom: 1px solid #c4c4c4;
}

.title {
    font-size: 1rem;
    font-weight: medium;
    line-height: 3.625rem;
    text-align: center;
}

.closeBtn {
    position: absolute;
    top: 3vh;
    right: 3vh;
}

.modal-content section {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.login-form p {
    font-weight: medium;
    font-size: 1.25rem;
}

.login-form form{
    width: 100%;
}

.login-form form * {
    width: 100%;
    margin-top: 10px;
}

.check-keep label {
    color: #767676;
    font-weight: medium;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.check-keep label::before{
    content: "";
    display: block;
    width: 1.375rem;
    height: 1.375rem;
    /* background-color: #2F80ED; */
    border: 1px solid #767676;
    border-radius: 50%;
    background: url(./img/check.svg) no-repeat 50% 50%;
}

.check-keep input:checked+label::before {
    background: url(./img/checked.svg) no-repeat 50% 50%;
    background-color: #2F80ED;
    border-color: #2F80ED;
}

.box {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.join-find {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.or {
    padding: 14px 24px 5px 24px;
    position: relative;
    height: fit-content;
}

.or span{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 0 13px;

}

/*social-login--------------------*/
.login-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialBtn {
    display: flex;
}

.socialBtn img {
    margin-left: 12px;
}

.socialBtn span {
    margin: 0 auto;
    line-height: 50px;
}

.google {
    border-color: #767676;
}

.facebook {
    border-color: #2D9CDB;
}

.naver {
    border-color: #00BF18;
}

.kakao {
    border-color: #F2C94C;
}







.modal.active {
    display: block;
}